/* The CSS styles for EmileVituOnlineCV */

	/* First the body features for the whole page */
body{
	/*background: black;
	color: white;*/
	font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
	font-weight: 400;
	margin-left: 10%;
	margin-right: 10%;
	/*font-size: xx; will have to do that regarding the titles... */
}

	/* Now the font styles */
/* For the main title of the page */
h1{
	font-family: "Arial";
	font-size: 200px;
}
/* For titles */
h2{
	font-family: "Arial";
	font-size: 100px;
}
/* For subtitles */
h3{
	font-family: "Arial";
	font-size: 50px;
}
/* For plain text */
p{
	font-family: "Arial";
	font-size: 25px;
}
ul{
	font-family: "Arial";
	font-size: 30px;
}
li{
	font-family: "Arial";
	font-size: 25px;
}


	/* Now the styles for the general grid */
.wrap0{
	/* background: #eee; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 2em;
	grid-column-gap: 2em;
}

.wrap0 > div{
	border: #333 1px solid;
}


	/* Now the styles for the different classes of the grid elements */
.title-left{
	grid-column: 1/4;
	text-align: left;
}

.title-right{
	grid-column: 3/4;
	text-align: left;
}

.content-left{
	height: 500px;
}
.content-left > img{
	text-align: right;
}

.content-right{
	height: 500px;
}

.myStory{
	grid-column: 2/4;
}

	/* Here is the contact chapter with it's own nest */
.contact{
	grid-column: 1/2;
}
.contact-nest{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.logo1{
	grid-column: 1/2;
}
.logo1 > a >img{
	height: 80px;
}
.logo2{
	grid-column: 3/4;
}
.logo2 > a >img{
	height: 80px;
}
.logo3{
	grid-column: 5/6;
}
.logo3 > a >img{
	height: 80px;
}

	/* Now the styles for the two other nested grids and the subnest grid*/
.content-left-nested{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 2/4;
	height: 500px;
	align-items: center;
	justify-items: start;
	border: #333 1px solid;
}
.content-right-nested{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 1/3;
	height: 500px;
	align-items: center;
	justify-items: center;
	border: #333 1px solid;
}
.subnest{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 2/4;
	align-self: end;
	justify-self: center;
	border: #333 1px solid;
}






/* !!!!!!! Maybe I'll have to put the row heights in window fractions for the responsiveness with smaller devices !!!!!!! */
/* This I will have to delete as well once I have layed out the page */
img{
	height: 200px;
}

	/* Now to put in the zoom while mouse hover */
		/* First the zoom tool for general images */
* {
  box-sizing: border-box;
}
.zoomA {
  transition: transform .2s;
}
.zoomA:hover {
  -ms-transform: scale(3); /* IE 9 */
  -webkit-transform: scale(3); /* Safari 3-8 */
  transform: scale(3); 
}
		/* Now a special one for the images in content-left, to avoid going out of the window */
.zoomB {
  transition: transform .2s;
}
.zoomB:hover {
  -ms-transform: scale(4); /* IE 9 */
  -webkit-transform: scale(4); /* Safari 3-8 */
  transform: scale(4); 
  transform-origin: 10% 90%;
}
/* Must check if it is still ok even on smaller device, and play with transform-origin if needed */




/*.wrap1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2em;
	grid-auto-rows: 400px;
}

.wrap2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2em;
	grid-auto-rows: 400px;
}*/

/*.row-left{
	text-align: left;
	justify-self: start;
}

.row-right{
	justify-self: center;
	align-self: center;
}

.wrapContact{
	text-align: center;
}*/