/* The CSS styles for EmileVituOnlineCV */





		/* Now the font styles */

	/* This is to import my special font */
@font-face {
	font-family: arkHip;
	src: url(public/Arkhip_font.otf);
}
@font-face {
	font-family: creativeTypeBold;
	src: url(public/CreativeType-Bold.otf);
}





	/* For the main title of the page */
h1{
	font-family: "creativeTypeBold";
	font-size: 10vw;
}
	/* For titles */
h2{
	font-family: "creativeTypeBold";
	font-size: 5vw;
}
	/* For subtitles */
h3{
	font-family: "creativeTypeBold";
	font-size: 3vw;
}
h4{
	font-family: "creativeTypeBold";
	font-size: 2.5vw;
	padding-top: 2vh;
}


/*  !!!!!! Must try to change with */
h5{
	font-family: "creativeTypeBold";
	font-size: 2vw;
	padding-top: 1.7vh;
}
h6{
	font-family: "arkHip";
	font-size: 1.7vw;
}
	/* For plain text */
p{
	font-family: "arkHip";
	padding-top: 1vh;
	font-size: 1.2vw;
}
li{
	font-family: "arkHip";
	font-size: 1.5vw;
	padding: 1vh;
}




		/* First the general layout */
html{
	scroll-behavior: smooth;
	background-image: url('public/pexels-tirachard-kumtanom-450055.jpg');
	z-index: -2;
}
	/* Then the body features for the whole page */
body{
	color: white;
	font-weight: 300;
	position: absolute;
	background: transparent;
}
	/* Now the styles for the general grid */






		/* Now the styles for the different classes of the grid elements */
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 20vh;
	padding-right: 20vh;
}
	/* First the empty divs for the empty slides and areas */
.emptyDiv{
	grid-column: 1/4;
	height: 100vh;
}
.banner{
	grid-column: 1/4;
	height: 25vh;
}
	/* Now the regular container divs for the slides */
.introDiv{
	grid-column: 1/4;
	text-align: left;
	height: 50vh;
}
.introText{
	grid-column: 1/2;
	text-align: left;
	height: 50vh;
}
	/* The classes for the content */
.contentLeftFull{
	height: 75vh;
	grid-column: 1/3;
}
.contentRightFull{
	height: 75vh;
	grid-column: 2/4;
}
.textLeftFull{
	grid-column: 1/2;
}
.textRightFull{
	grid-column: 3/4;
}
	/* Now the styles for the three nested grids */
.contentLeftNested{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 2/4;
	height: 75vh;
}
.contentRightNested{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 1/3;
	height: 100vh;
}
.subNest{
	grid-column: 1/3;
	align-self: start;
	justify-self: center;
	width: 50%;
}
.lastLeftFull {
	grid-column: 1/2;
	height: 75vh;
}
.lastRightFull {
	grid-column: 2/4;
	height: 75vh;
}
	/* Now the contact subchapter */
.contentLeftEnd{
	height: 50vh;
}
.textLeftEnd{
	height: 50vh;
	grid-column: 2/4;
	padding-top: 2vh;
}
.lastGrid {
	display: grid;
	grid-column: 1/4;
	height: 25vh;
	align-items: center;
	justify-items: center;
}
.contactLogos{
	grid-column: 1/4;
}
.contactLogos > a >img{
	height: 12vh;
}


		/* Here are the styles for the images */

	/* For the photos */
img {
	padding: 2vh;
}
.inlinePhoto {
  	opacity: 0;
  	transform: translateY(4em);
  	transition: transform 2s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  	width: 100%;
  	will-change: transform, opacity;
}
	/* For the effects */
.inlinePhoto.isVisible {
  	opacity: 1;
  	transform: rotateZ(0deg);
}




		/* Now to style the buttons */

	/* First the general button attributes */
button > img {
	padding: 0vh;
}
	/* Then the scroll to top button */
#scrollToTopButton {
  	height: 5vh;
  	width: 6vh;
  	display: none;
  	position: fixed;
  	background-color: black;
  	cursor: pointer;
  	border-radius: 2vh;
  	bottom: 3vh;
  	right: 3vh;
  	z-index: 100;
}
	/* Now the next and previous buttons */
#nextChapter{
	height: 3vh;
	width: 6vh;
	border-radius: 2vh;
	cursor: pointer;
	background-color: black;
	position: fixed;
	bottom: 3vh;
	left: 3vh;
	z-index: 100;
}
#prevChapter{
	height: 3vh;
	width: 6vh;
	border-radius: 2vh;
	cursor: pointer;
	background-color: black;
	position: fixed;
	bottom: 3vh;
	left: 11vh;
	z-index: 100;
	display: none;
}





	/* Now to style the scroll progress bar before 'wrapper' */

/* First the background bar (black one) */
.progressContainer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
		height: 1vh;
	background: rgb(0, 0, 0);
		z-index: 100;
}
	/* Then we can add the progress bar on top  of the background one */
.progress{
	height: 1vh;
		background: #999;
		width: 0;
		transition: width 0.5s;
}
#firstLink{
color:white;
}
/* End of the general styling */




@media only screen and (max-width: 1000px) {
	.wrapper{
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.banner{
		height: 20vh;
	}
	.contentLeftFull{
		height: 80vh;
	}
	.contentRightFull{
		height: 80vh;
	}
	.contentLeftNested{
		height: 80vh;
	}
	.contentRightNested{
		height: 100vh;
	}
	.eMail {
		height: 30vh;
	}
	.lastLeftFull {
		height: 80vh;
	}
	.lastRightFull {
		height: 80vh;
	}	
}


@media only screen and (max-width: 750px) {
	.wrapper{
		padding-left: 5vh;
		padding-right: 5vh;
	}
}

@media only screen and (max-width: 500px) {
	.wrapper{
		padding-left: 2vh;
		padding-right: 2vh;
	}
	.emptyDiv{
		grid-column: 1/4;
		height: 50vh;
	}
	.banner{
		grid-column: 1/4;
		height: 10vh;
	}
	.introDiv{
		grid-column: 1/4;
		height: 40vh;
	}
	.introText{
		grid-column: 1/3;
		height: 60vh;
	}
	.contentLeftFull{
		height: 60vh;
		padding-top: 30vh;
		grid-column: 1/4;
	}
	.contentRightFull{
		height: 50vh;
		grid-column: 1/4;
	}
	.textLeftFull{
		height: 40vh;
		grid-column: 1/4;
	}
	.textRightFull{
		height: 40vh;
		grid-column: 1/4;
	}
	.contentLeftNested{
		grid-column: 1/4;
		height: 60vh;
	}
	.contentRightNested{
		grid-column: 1/4;
		height: 60vh;
	}
	.contentLeftEnd{
		height: 65vh;
		padding-top: 2vh;
	}
	.textLeftEnd{
		height: 65vh;
	}
	.lastGrid {
		display: grid;
		grid-column: 1/4;
		height: 25vh;
		align-items: end;
		justify-items: center;
	}
	.contactLogos{
		grid-column: 1/4;
	}
	.contactLogos > a >img{
		height: 12vh;
	}
		/* Now to enlarge the text */
	h2{
		font-size: 5vw;
	}
	h3{
		font-size: 4vw;
	}
	h4{
		font-size: 3vw;
	}
	h5{
		font-size: 3vw;
	}
	h6{
		font-size: 3vw;
	}
	p{
		font-size: 3vw;
	}
	li{
		font-size: 3vw;
	}		
		/* To enlarge slightly the images */
	img {
		padding: 1vh;
	}
		/* Now to remove the buttons */
	button {
		opacity: 0;
	}
}




/* This is the end of the stylesheet of the EmileVituOnlineCV website*/