/* The CSS styles for EmileVituOnlineCV */





		/* Now the font styles */
		
	/* This is to import my special font */
@font-face {
	font-family: helvetNeueBold;
	src: url(public/HelveticaNeueBold.ttf);
}
@font-face {
	font-family: montserratBold;
	src: url(public/montserratBold.ttf);
}
@font-face {
	font-family: ohio;
	src: url(public/Ohio.ttf);
}
	/* For the main title of the page */
h1{
	font-family: "montserratBold", helvetica;
	font-size: 25vh;
}
	/* For titles */
h2{
	font-family: "helvetNeueBold", helvetica;
	font-size: 10vh;
}
	/* For subtitles */
h3{
	font-family: "helvetNeueBold", helvetica;
	font-size: 7vh;
}
h4{
	font-family: "helvetNeueBold", helvetica;
	font-size: 5vh;
}
h5{
	font-family: "helvetNeueBold", helvetica;
	font-size: 3vh;
}
	/* For plain text */
p{
	font-family: "helvetNeueBold", helvetica;
	font-size: 2vh;
	padding-top: 2vh;
}
ul{
	list-style-image: url('public/bullet-point.jpg');
	font-family: "helvetNeueBold", helvetica;
}
li{
	font-family: "helvetNeueBold", helvetica;
	font-size: 2vh;
	padding: 2vh;
} 





		/* First the general layout */
html{
	scroll-behavior: smooth;
	background-image: url('public/pexels-tirachard-kumtanom-450055.jpg');
	z-index: -2;
}
	/* Then the body features for the whole page */
body{
	color: white;
	font-weight: 300;
	position: absolute;
	background: transparent;
}
	/* Now the styles for the general grid */
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 20vh;
	padding-right: 20vh;
	background: transparent;
}





		/* Now the styles for the different classes of the grid elements */

	/* First the empty div for the empty slides */
.emptyDiv{
	grid-column: 1/4;
	height: 100vh;
}
	/* Now the regular container divs for the slides */
.introDiv{
	grid-column: 1/4;
	text-align: left;
	height: 100vh;
}
	/* The classes for the titles */
.titleLeft{
	grid-column: 1/4;
	height: 20vh;
}
.titleRight{
	grid-column: 3/4;
	text-align: left;
	height: 10vh;
	padding-left: 1vh;
}
	/* The classes for the subtitles */
.subtitleLeft{
	grid-column: 1/4;
	text-align: left;
	height: 10vh;
}
	/* The classes for the content */
.contentLeft{
	height: 70vh;
	padding-top: 13vh;
}
.contentRight{
	height: 90vh;
	padding-top: 10vh;
}
.websiteLeft{
	grid-column: 1/2;
	height: 80vh;
}
.websiteRight{
	grid-column: 2/4;
	height: 70vh;
}
.contentLeftFull{
	height: 100vh;
	grid-column: 1/3;
	display: flex;
	align-items: center;
}
.contentRightFull{
	height: 100vh;
	grid-column: 2/4;
	display: flex;
	align-items: center;
}
.textLeftFull{
	grid-column: 1/2;
	display: flex;
	align-items: center;
}
.textRightFull{
	padding-top: 23vh;
	padding-left: 4vh;
	grid-column: 3/4;
}
	/* Now the styles for the three nested grids */
.contentLeftNested{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 2/4;
	height: 70vh;
	padding-top: 14vh;
}
.contentRightNested{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 1/3;
	align-items: end;
	height: 90vh;
}
.subNest{
	grid-column: 1/3;
	justify-self: center;
	align-self: start;
	width: 50%;
}
	/* Now the contact subchapter */
.contentLeftEnd{
	height: 48vh;
}
.textLeftEnd{
	height: 48vh;
	grid-column: 2/4;
}
.contactLogos{
	grid-column: 3/4;
	align-items: center;
}
.contactLogos > a >img{
	height: 12vh;
}
.eMail {
	align-self: center;
	justify-self: end;
	padding-right: 2vh;
}
.lastEmptyDiv {
	height: 29vh;
}





		/* Now the styles for the images */

	/* For the photos */
img {
	padding: 2vh;
}
.inlinePhoto {
  	opacity: 0;
  	transform: translateY(4em);
  	transition: transform 2s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  	width: 100%;
  	will-change: transform, opacity;
}
	/* Now once the images are visible */
.inlinePhoto.is-visible {
  	opacity: 1;
  	transform: rotateZ(0deg);
}




		/* Now to style the buttons */

	/* First the scroll to top button */
#scrollToTopButton {
  	height: 5vh;
  	width: 6vh;
  	display: none;
  	position: fixed;
  	background-color: black;
  	cursor: pointer;
  	border-radius: 2vh;
  	bottom: 3vh;
  	right: 3vh;
  	z-index: 100;
}
#scrollToTopButton > img {
	height: 4vh;
}
	/* Now the next and previous buttons */
#nextChapter{
	height: 3vh;
	width: 6vh;
	border-radius: 2vh;
	cursor: pointer;
	background-color: black;
	position: fixed;
	bottom: 3vh;
	left: 3vh;
	z-index: 100;
}
#prevChapter{
	height: 3vh;
	width: 6vh;
	border-radius: 2vh;
	cursor: pointer;
	background-color: black;
	position: fixed;
	bottom: 3vh;
	left: 11vh;
	z-index: 100;
	display: none;
}





	/* Now to style the scroll progress bar before 'wrapper' */

/* First the background bar (black one) */
.progressContainer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
		height: 1vh;
	background: rgb(0, 0, 0);
		z-index: 100;
}
	/* Then we can add the progress bar on top  of the background one */
.progress{
	height: 1vh;
		background: #999;
		width: 0;
		transition: width 0.5s;
}







/* !!!!!!!!!!!!!!!!!!!! */
/* Can maybe be deleted */
#firstLink{
color:white;
}
/* End of the buttons styling */










/* This is the end of the stylesheet of the EmileVituOnlineCV website*/